body {
    padding-top: 1rem;
}

main {
    padding: 3rem 1.5rem;
    text-align: center;
}

.tm_text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    fill: white;
}



/* ALL TABLES */
table {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    border: none;
}

#green, #red, #amber {
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 20px;
    border: none;
}

#green {
    background-color: #006600;
}

#red {
    background-color: #cc0000;
}

#amber {
    background-color: #ff9900;
}

#map {
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
}

.effective, .effective svg {
    position: absolute;
}

.effective svg {
    width: 20px;
    height: 20px;
    padding-right: 0;
    font: 10px sans-serif;
}

.effective circle {
    stroke: grey;
    stroke-width: 1;
}

/* Colour Table and individual tds - Colour key, Row 1*/
#colours {
    width: 30%;
}

/* Title Bar - Row 1, image and text*/
.title-img {
    background-color: #323333;
    text-align: center;
    width: 20%;
}
.img-fluid2 {
    max-width: 100%;
    height: 20%;
    text-align: center;
}

.rounded-img {
    border-radius: 50%;
    width: 40%;
    background-color: #323333;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.rounded-img:hover {
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.1);
}

.rounded-img2 {
    border-radius: 50%;
    width: 20%;
    background-color: #323333;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    padding: 1px;
}

.rounded-img2:hover {
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.1);
}
.rounded-img-modal {
    border-radius: 50%;
    width: 15%;
    background-color: #323333;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.rounded-img-modal:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}

#title-dataviz {
    background-color: #323333;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: "Lato Black", serif;
}

#title {
    background-color: #323333;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: "Lato", serif;
}

#title_img {
    text-align: left;
    background-color: #3d4a57;
    padding: 4px;
}

/* Line Chart lines, tooltips and All axes text and paths */

#title_txt {
    text-align: right;
    padding: 14px;
}

.tooltip_map {
    width: auto;
    height: auto;
    text-align: left;
    visibility: hidden;
    position: absolute;
    padding: 5px;
    font: 10px sans-serif;
    background: white;
    border-radius: 4px;
}

.line {
    fill: none;
    stroke-width: 3px;
}

.x_hbar text, .y_hbar text, .x_vbar text, .y_vbar text, .x_line text, .y_line text {
    font-size: 14px;
}

.y_hbar path, .x_hbar path, .x_vbar path, .y_vbar path, .x_line path, .y_line path {
    display: none;
}

/* Input Boxes */

/* Chart Title Tds */
#list_title, #bar_title, #donut_title, #v_bar_title, #line_title { /* Colonne de gauche */
    background-color: #323333;
    border: 2px grey;
}

#list_title, #bar_title, #donut_title, #v_bar_title, #line_title { /* Titre colonne gauche */
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    border: 1px solid lightgrey;
}

/* Chart  Tds */
#option_donut, #option_vertical_bar, #option_line {
    height: 250px;
    vertical-align: top;
    border: 1px solid lightgrey;
    text-align: center;
}

#option_horizontal_bar, #list_radio {
    height: 560px;
    vertical-align: top;
    border: 1px solid lightgrey;
    text-align: center;
}

#list_radio {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 200px;
}

.tooltip_vbar, .tooltip_hbar, .tooltip_donut {
    width: auto;
    height: auto;
    visibility: hidden;
    position: absolute;
    border: 1px solid grey;
    padding: 5px;
    font: 10px sans-serif;
    background: white;
    border-radius: 4px;
    pointer-events: none;
}

.tooltip_vbar {
    text-align: left;
}

.tooltip_donut {
    text-align: left;
}

.tooltip_hbar {
    text-align: center;
}

.chart_td {
    vertical-align: top;
}

#option_line_td {
    padding: 10px;
    vertical-align: top;
}

*, ::after, ::before {
    box-sizing: content-box;
}

.card-right {
    overflow-y: scroll;
    height: 150px;
}

.badge-color {
    color: white;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.fa-paint-brush {
    font-size: .9em;
}

.star {
    font-size: x-large;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content: '\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content: '\2605';
    color: gold;
    margin-left: -20px;
    width: 10px;
    position: absolute;
    overflow: hidden;
}


#snowflakeContainer {
    position: absolute;
    left: 0;
    top: 0;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}


/*Footer CSS*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}